body {
  background-color: lightblue;
}

.pageTitle {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  font-size: 2em;
}

.todaysDate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#locationTextBox {
  display: flex;
  margin: 40px 0px 5px 30px;
  padding: 0px 80px 0px 0px;
}

#locationSearch {
  display: flex;
  padding: 0px 200px 0px 0px;
  margin: 0px 0px 40px 30px;
}

/* .locationHistoryEl {
  display: flex;
  margin: 35px 0px 5px 30px;
  background-color: lightgray;
  border-radius: 5px;
} */

.dividerBlock {
  display: flex;
  background-color: black;
}

.forecastCards ul {
display: flex;
flex-direction: column;
}

.forecastCards ul li {
  display: flex;
  flex-direction: column;
  }

#card1
#card2
#card3
#card4
#card5 {
  display: flex;
  flex-direction: column;
  background-color: midnightblue;

}

.forecast {
  margin: 2% 15%;
  background-color: aliceblue;
  border-style: solid;
  border-width: 1px black;
  border-radius: 10px;
  padding: 3%
}

.forecast h4 {
  position: relative;
}

.forecastCards {
  display: flex;
  justify-content: space-around;
  /* color: white; */
  /* background-color: midnightblue; */
  
}

/* :root {
  --ocean: rgb(25, 97, 145);

}

* {
  margin: 0px;
}

header {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 23px;
  color: rgb(255, 255, 255);
  background-color: var(--ocean)
}

.container {
  display: flex;
  flex-direction: column;
}

.forcast-container {
  display: flex;
  flex-direction: column;
}

.main-weather-container {
  font-size: 25px;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  outline: 5px solid rgb(0, 0, 0);
}

.current-conditions {
  font-size: 30px;
  line-height: 40px;
  margin: 10px;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.current-conditions>.weather-item>p {
  padding: 5px;
}

h2 {
  font-size: 40px;
  margin: 20px;
}

.five-day-forecast {
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 10px;
  outline: 5px solid rgb(0, 0, 0);
}

.search-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  align-items: center;
}

.search-city {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px;
  width: 35%;
  border-radius: 10px;
  outline: 5px solid rgb(0, 0, 0);
}

.search-city>p {
  display: flex;
  justify-content: center;
}

.recent-searches {
  text-align: center;
  font-size: 25px;
}

.search-city>input,
button {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 30px;
}

.search-city>button {
  color: white;
  background-color: var(--ocean);
}

.day-1-future,
.day-2-future,
.day-3-future,
.day-4-future,
.day-5-future {
  font-size: 30px;
  line-height: 40px;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  outline: 5px solid rgb(0, 0, 0);
  color: white;
  background-color: var(--ocean);
}

@media (max-width: 1420px) {
  .search-city {
      width: 70%;
  }
}

@media (max-width: 747px) {
  .search-city {
      width: 100%;
  }
}

@media (max-width: 437px) {
  .current-conditions {
      font-size: 25px;
  }

  .search-city>button {
      font-size: 20px;
  }

  header {
      font-size: 17px;
  }

  .day-1-future,
  .day-2-future,
  .day-3-future,
  .day-4-future,
  .day-5-future {
      line-height: 33px;
  }
} */